<!--
    packagingData="true" SHOULD BE ONLY USED WHEN NECESSARY! Its EXPENSIVE!
    debug="true" is for logback debug
    OnConsoleStatusListener is for helping in logback debugging
-->
<configuration debug="false" packagingData="true">
    <statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener"/>
    <!--
        in the absence of the class attribute, assume ch.qos.logback.core.hook.DefaultShutdownHook
        for web applications, it will use WebShutdownHook
    -->
    <shutdownHook/>

    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>

    <appender name="STDOUT_COLOR" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %highlight(%-5level) %logger{36} - %msg%n</pattern>
            <!--<pattern>[%date] %highlight([%level]) [%logger{10} %file:%line] %msg%n</pattern>-->
        </encoder>
    </appender>
    <appender name="STDOUT_NOCOLOR" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="PROTON_LOG_COMMAND" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%highlight(%-5level)] - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.itquasar.multiverse.proton.console.log" level="TRACE" additivity="false">
        <appender-ref ref="PROTON_LOG_COMMAND" />
    </logger>


    <logger name="com.itquasar.multiverse.proton" level="TRACE" additivity="false">
        <if condition='isDefined("nocolor")'>
            <then>
                <appender-ref ref="STDOUT_NOCOLOR"/>
            </then>
            <else>
                <appender-ref ref="STDOUT_COLOR"/>
            </else>
        </if>
    </logger>

    <logger name="com.itquasar.multiverse.proton.PrettyPrinter" level="INFO"/>

    <logger name="ch.qos.logback" level="ERROR"/>
    <logger name="org.jline" level="INFO" additivity="false"/>

    <root level="WARNING">
        <appender-ref ref="STDOUT_NOCOLOR"/>
    </root>
</configuration>